.driver_div {
  padding: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add_button {
  border-radius: 5px;
  color: white;
  background: black;
}
