/* .header_container {
  padding: 20px 20px 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background: #cf2d1e;
  border: 1px solid #cf2d1e;
  border-radius: 50px 0 0 0;
  z-index: 1;
  box-shadow: 1px;
}

.right_navButtons {
  width: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #cf2d1e;
} */
