* {
  padding: 0.1px;
}

header {
  height: 12vh;
  margin-top: 6vh;
}

.header_container {
  padding: 20px 20px 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background: #cf2d1e;
  border: 1px solid #cf2d1e;
  border-radius: 50px 0 0 0;
  z-index: 1;
}

.login_div {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.login_button {
  height: 5vh;
  width: 5vw;
  color: white;
  background: black;
}

.right_navButtons {
  width: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #cf2d1e;
}
